{% assign aspect = product.media.first.preview_image.aspect_ratio | default: 1 %}
<div class="product-gallery" style="--aspect-ratio: {{ aspect }}" tabindex="0">
  <div class="product-gallery__viewer">
    {% for media in product.media %}
      <img src="{{ media | image_url }}" alt="{{ media.alt | escape }}" class="product-gallery__image{% if forloop.first %} is-active{% endif %}" data-media-index="{{ forloop.index0 }}">
    {% endfor %}
  </div>
  <ul class="product-gallery__thumbs" role="list">
    {% for media in product.media %}
      <li class="product-gallery__thumb-item">
        <button type="button" class="product-gallery__thumb{% if forloop.first %} is-active{% endif %}" data-media-index="{{ forloop.index0 }}">
          <img src="{{ media | image_url: width: 200 }}" alt="{{ media.alt | escape }}">
        </button>
      </li>
    {% endfor %}
  </ul>
</div>
