<div id="product-media" class="product-gallery" data-product-gallery>
  {%- if product.media and product.media.size > 0 -%}
    <div class="product-gallery__stage">
      {%- for media in product.media -%}
        {%- if media.media_type == 'image' -%}
          <img
            src="{{ media | image_url: width: 1200 }}"
            alt="{{ media.alt | escape }}"
            class="product-gallery__image{% if forloop.first %} is-active{% endif %}"
            data-gallery-image="{{ forloop.index0 }}"
            loading="lazy"
          >
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="product-gallery__thumbs">
      {%- for media in product.media -%}
        {%- if media.media_type == 'image' -%}
          <button
            class="product-gallery__thumb{% if forloop.first %} is-active{% endif %}"
            data-gallery-target="{{ forloop.index0 }}"
            type="button"
          >
            <img src="{{ media | image_url: width: 200 }}" alt="{{ media.alt | escape }}" loading="lazy">
          </button>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- else -%}
    <div class="product-gallery__placeholder">
      {{ 'image' | placeholder_svg_tag: 'media__placeholder' }}
    </div>
  {%- endif -%}
</div>
